* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 15px;
}

h1 {
  padding: 5px 0px 22px 0px;
}

.btn {
  padding-top: 20px;
}

button {
  cursor: pointer;
  padding: 2px;
  width: 60px;
}